body{
    background-image: url("https://img.newatlas.com/ai-2.jpg?auto=format%2Ccompress&ch=Width%2CDPR&fit=crop&h=347&q=60&rect=0%2C18%2C1200%2C675&w=616&s=a70e8b30de8bce4b67d18f00d9f9b72f");
    background-repeat:no-repeat;
    background-position: right top -135%;
    background-color: purple;
}