
.s1{
    background-color: steelblue;
    width: 100px;
    height: auto;
}

.s2{
    background-color: steelblue;
    width: 100px;
    height: auto;
    position: relative;
    left: +100px;
    top:-20px;
}

.s3{
    background-color: steelblue;
    width: 100px;
    height: auto;
    position: relative;
    left: +200px;
    top:-20px;
}

.s4{
    background-color: steelblue;
    width: 100px;
    height: auto;
    position: relative;
    left: +300px;
    top:-95px;
}




